:root {
  --font-family-main: 'Consolas', 'Times New Roman',
    --font-line-m: 1.5 --font-size-m: 1rem;
  --font-m: var(--font-m) / var(--font-line-m) var(--font-family-main)
    --font-size-l: 1.5rem;

  --navbar-height: 80px;
  --sidebar-width: 250px;
  --sidebar-width-collapsed: 40px;
}
