.navbar {
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  // background-color: var(--bg-color-darker);
  background-color: aquamarine;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 10px;
  height: 100%;
  display: block;
}

.themeToggle {
  margin-left: auto;
}
